= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = instance_field :database
    = instance_field :keystone
    = instance_field :nova

    %fieldset
      %legend
        = t(".ssl_header")

      = boolean_field %w(apache ssl), :collection => :ssl_protocols_for_nova_dashbaord, "data-sslprefix" => "apache", "data-sslcert" => "", "data-sslkey" => ""

      #apache_container
        = string_field %w(apache ssl_crt_file)
        = string_field %w(apache ssl_key_file)
        = string_field %w(apache ssl_crt_chain_file)

    = render "barclamp/git/pfsdeps"
