
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to t('raw'), proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container
    %p
      %label{ :for => :sql_engine }= t('.sql_engine')
      = select_tag :sql_engine, options_for_select([['PostgreSQL/MySQL', 'database'], ['SQLite','sqlite']], @proposal.raw_data['attributes'][@proposal.barclamp]["sql_engine"]), :onchange => "update_value('sql_engine', 'sql_engine', 'string')"
    %p
      %label{ :for => :sql_instance }= t('.sql_instance')
      = instance_selector(@proposal.raw_data['attributes'][@proposal.barclamp]["sql_engine"], :sql_instance, "sql_instance", @proposal)
    %p
      %label{ :for => :keystone_instance }= t('.keystone_instance')
      = instance_selector("keystone", :keystone_instance, "keystone_instance", @proposal)
    %p
      %label{ :for => :ssl_no_verify }= t('.ssl_no_verify')
      = select_tag :ssl_no_verify, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["ssl_no_verify"].to_s), :onchange => "update_value('ssl_no_verify', 'ssl_no_verify', 'boolean')"
      %em= t('.ssl_no_verify_hint')

  %label{ :for => :apache }= t('.apache')
  %div.container{ :id => :apache }
    %p
      %label{ :for => :apache_use_http }= t('.apache_use_http')
      = select_tag :apache_use_http, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["apache"]["use_http"].to_s), :onchange => "update_value('apache/use_http', 'apache_use_http', 'boolean')"

    %p
      %label{ :for => :apache_use_https }= t('.apache_use_https')
      = select_tag :apache_use_https, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["apache"]["use_https"].to_s), :onchange => "update_value('apache/use_https', 'apache_use_https', 'boolean')"

    %div{ :id => :apache_use_https_div }
      %p
        %label{ :for => :apache_redirect_to_https }= t('.apache_redirect_to_https')
        = select_tag :apache_redirect_to_https, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["apache"]["redirect_to_https"].to_s), :onchange => "update_value('apache/redirect_to_https', 'apache_redirect_to_https', 'boolean')"

      //TODO/Fixme: provide upload dialog for these. For now we have to rely on the files being present on the machine:
      %p
        %label{ :for => :apache_ssl_crt_file }= t('.apache_ssl_crt_file')
        = text_field_tag :apache_ssl_crt_file, @proposal.raw_data['attributes'][@proposal.barclamp]["apache"]["ssl_crt_file"], :size => 80, :onchange => "update_value('apache/ssl_crt_file', 'apache_ssl_crt_file', 'string')"

      %p
        %label{ :for => :apache_ssl_key_file }= t('.apache_ssl_key_file')
        = text_field_tag :apache_ssl_key_file, @proposal.raw_data['attributes'][@proposal.barclamp]["apache"]["ssl_key_file"], :size => 80, :onchange => "update_value('apache/ssl_key_file', 'apache_ssl_key_file', 'string')"


:javascript
  function toggle_redirect_to_https() {
    if ($('#apache_use_http option:selected').text() == 'true' &&
        $('#apache_use_https option:selected').text() == 'true') {
      $('#apache_use_https_div').show();
    } else {
      $('#apache_use_https_div').hide();
    }
  };

  $(document).ready(function () { toggle_redirect_to_https(); });
  $('#apache_use_http').change(toggle_redirect_to_https);
  $('#apache_use_https').change(toggle_redirect_to_https);
