= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :database
    = instance_field :keystone
    = instance_field :nova

    = integer_field :session_timeout

    %fieldset
      %legend
        = t(".password_validator_header")

      = string_field %w(password_validator regex)
      = string_field %w(password_validator help_text)

    %fieldset
      %legend
        = t(".ssl_header")

      = boolean_field %w(apache ssl), :collection => :ssl_protocols_for_nova_dashbaord, "data-sslprefix" => "apache", "data-sslcert" => "", "data-sslkey" => ""

      #apache_container
        = string_field %w(apache ssl_crt_file)
        = string_field %w(apache ssl_key_file)
        = string_field %w(apache ssl_crt_chain_file)
